
* {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
}

main_wrapper{
    overflow:scroll;

}
h2{
    font-weight: 700;
    font-size:3em;
}



/******item replacables******/
.tiretpointe {
    width: 100%;
    height: 20px;
    position: relative;
    padding-bottom: 20px;
}
.tiretpointe p{
    display: block;
    width: 250px;
    height: 10px;
    border-bottom: 2px solid lightgrey;
    margin: auto;
}
.tiretpointe div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: cornflowerblue;
    border: 5px solid white;
    border-color: white;
    left:49.4%;
    top: 3%;
}

.navbutton {/*cache les boutons de nav pour mobile*/
    display: none;
}


/******Header******/

header{/* mise en place du menu*/
    width: 100%;
    height: 10%;
    min-height: 100px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    font-family: FontAwesome;
    font-size: 0.8em;
}
#logo {/* positionnement du logo*/
    float: left;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{/* 4 boutons a droite*/
    float: right;
    padding-right: 8%;

}

ul{
    list-style: none;
    display: flex;
}

li {
    width: 80px;
}

li a{
    text-decoration: none;
    color: grey;
    display: block;
    text-align: center;
    padding-top: 50px;
    font-size: 1.2em;
    font-weight: bolder;
}

a:hover{
    color:black;
    border-top: 3px solid deepskyblue;
}

#topanchor{
    position:relative;
    top: -100px;
}



/******Acceuil******/

#acceuil {
margin: 0 auto;
margin-top: 6.5%;
position: relative;
width: 100%;
height: 100%;
user-select: none;
background-color: white;
    
}

#i1, #i2 {/*cache le "radio" utilisé pour le slider*/
    display: none;
}


.slide_img {/* les slides, position absolute pour les superposer dans leurs bloc*/
    position: absolute;
    width: 100%;
    height: 84%;
    z-index: -1;
    overflow: hidden;
}

.slide_img img {
    width: inherit;
    height: inherit;
    box-shadow: 0 0 12px black;
}

.prev, .next {/* boutons incluts dans le slide_img*/
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    background-color: white;
    background-color: rgba(0,0,0,.2);
    z-index: 99;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
}
.next {
    right: -28px;
}
.next i{
    position: absolute;
    top: 16px;
    left: 12px;
    color: white;
}
.prev {
    left: -28px;
}
.prev i{
    position: absolute;
    top: 16px;
    right: 12px;
    color: white;
}


#nav_slide {/* les lignes colorées qui indiquent quelle image est affichée*/
    width: 100%;
    bottom: 30.5%;
    height: 10px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}
.dots {
    bottom: 0;
    width: 49%;
    height: 5px;
    margin: 0 3px;
    position: relative;
    display: inline-block;
    background-color: grey;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


#i1:checked ~ #one, #i2:checked ~ #two {/* si checké augmente le z-index pour diplay l'image checkée*/
    z-index: 9;
}
.prev:hover, .next:hover{/*deco des boutons slide_img*/
    transition:0.5s;
    background: deepskyblue;
    background: rgba(90,245,255,0.4);
}

#i1:checked ~ #nav_slide #dot1{/* si checké "illumine le "recantgle" correspondant*/
    background: deepskyblue;
    background: rgba(90,245,255,0.4);
    transition: 0.5s ease-in-out;
}

#i2:checked ~ #nav_slide #dot2{
    background: deepskyblue;
    background: rgba(90,245,255,0.4);
    transition: 0.5s ease-in-out;
}

#dot1:hover{/*deco*/
    background: lightgrey;
    background: rgba(255,255,255,0.3);
    transition: 0.5s ease-in-out;
}
#dot2:hover{
    background: lightgrey;
    background: rgba(255,255,255,0.3);
    transition: 0.5s ease-in-out;
}
#surslider{/* bloc posé sur le slider, WEBAGENCE: L'Agence....*/
    position: relative;
    top: 160px;
    left: 200px;
    width: 600px;
    height: 300px;
    z-index: 50;
    color: white;
    font-size: 2em;
}
#surslider h1 strong{
    color: cornflowerblue;
}
#surslider p{
    font-size: 0.5em;
    justify-content:flex-start;
}
#boutonacceuil a {/* bouton dans le surslider*/
    display: inline-block;
    position: relative;
    top: 30px;
    width: 125px;
    height: 40px;
    color: white;
    text-decoration-line: none;
    background-color: cornflowerblue;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 4px blue;
}

#boutonacceuil a p {
    position: relative;
    top: 9px;
    left: 10px;
}


/******Services******/

#services{
    padding-top: 80px;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: white;
    position: relative;
}

#nosservices { /* bloc du haut*/
    margin: auto;
    margin-top: 0;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}


#nosservices h2,#nosservices > p {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

#nosservices2{/*bloc bas pere de 2div, celui avec l'image posé a gauche, celui avec les ecrits a droite*/
    display: flex;
    justify-content: space-around;
}
/* le div avec les ecrit est pere de 3div*/
.inservice2{/*ses 3 derniers sont disposés avec un flex*/
    display: flex;
    width: 80%;
    height: 90px;
    padding-top: 20px;
}
.inservice2 .desciptionservice{/*puis sont rangés de facon a ressembler a la maquette*/
    width:80%;
    text-align:left;
    background: none;
    border: none;
}
.desciptionservice p{
    text-align: left;
    justify-content: inherit;
}

.inservice2 div {/* petitess images a gauche des ecrits*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    border: 1px solid rgba(200,200,200,0.5);
    position: relative;
    margin-right: 30px;
    overflow: visible;
}
.inservice2 div i{
    position: absolute;
    top:25%;
    left:26%;
    color: deepskyblue;
}
.inservice2 div div{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: deepskyblue;
    border: 5px solid white;
    border-color: white;
    top:30%;
    left:77%;
}


/******Portfolio******/

#portfolio{
    padding-top: 10%;
    background-color: whitesmoke;
    height: 100%;
    position: relative;
}


#div1portfolio{/* disposition haut de page*/
    position:relative;
}
#div1portfolio h2,p,img{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

#portfolio input { /*planquage du "radio" qui sert au menu*/
    display: none;
}

#marginauto {/*conteneur du menu*/
    margin: auto;
    height: 50px;
    width: 400px;
    padding-top: 20px;
}
.menuportfolio {/*boutons du menu*/
    transition: 0.5s;
    margin: auto;
    width: 100px;
    height: 33px;
    display: inline-block;
    background-color: lightgray;
    cursor: pointer;
    color: white;
    text-align:center;
    padding-top: 7px;
}
.menuportfolio span{/* ecrit et petite fleche du bouton*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuportfolio i{/*petite fleche du bouton*/
    transition: 0.5s;
    position: relative;
    bottom: -4px;
    color: transparent;
    font-size: 24px;
}
.menuportfolio:hover i{
    transition: 0.5s;
    color: cornflowerblue;
}
.menuportfolio:hover{
    transition: 0.5s;
    height: 30px;
    background-color: deepskyblue;
    box-shadow: 0 3px 0 cornflowerblue;
}
#label1, #label2, #label3, #label4{
    margin-left: -2px;
    margin-right: -2px;
}
#label1{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#label4{/*fin de decoration des boutons*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#p2:checked ~ #div2portfolio, #p4:checked ~ #div2portfolio {/* change l'ordre d'affichage en fonction du bouton du menu qui est checké*/
    flex-direction: row-reverse;
}


#div2portfolio{/*Bloc contenant les images de projets*/
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    min-height: 500px;
    height: auto;
    margin: auto;
    padding-bottom: 100px;
}

.flexportfolio{/*mini blocs contenant 1 projet*/
    width:21%;
    min-width:250px;
    height: 21%;
    min-height:150px;
    position: relative;
}
.flexportfolio img {
    width: 100%;
    height: 100%;
}

.banniereportfolio{/*Ce qui s'affiche lors du survol des projets*/
    width: 100%;
    height: 30%;
    background-color: white;
    background-color: rgba(0,0,0,0.0);
    position:absolute;
    bottom:0;
    color: white;
    color: rgba(0,0,0,0.0);
}
.banniereportfolio p{
    text-align: left;
    padding-left: -30px;
}
.boutonportfolio{/* petit bouton avec l'oeuil*/
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 40%;
    right: 10%;
    border-radius: 50%;
    background-color: black;
    background-color: rgba(0,0,0,0.0);
}
.boutonportfolio i {
    visibility: hidden;
    display: flex;
    justify-content: center;
    padding-top: 25%;
    background-color: black;
    background-color: rgba(0,0,0,0.0);
    font-size: 24px;
    }
.flexportfolio:hover > div{
    transition: 0.4s;
    background-color: black;
    background-color: rgba(0,0,0,0.3);
    color: white;
}
.flexportfolio:hover a{
    text-decoration-line: none;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
}
.flexportfolio:hover .boutonportfolio {
    background-color: black;
    background-color: rgba(90,200,240,1);
    border: 2px solid white;
}
.flexportfolio:hover .boutonportfolio i{
    color: white;
    visibility:visible;
}
.ecritportfolio {/* fin de la deco des bannieres*/
    float: left;
    padding-left: 20px;
    padding-top: 1%;
}




     /******Contact******/
#contact {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background-color: whitesmoke;
    display: flex;
    position: relative;
    overflow: hidden;
}
iframe{
    border: 0;
}
#filtrebleu{/* bloc avec un fond bleu semi transparant pour ajouter un filtre bleu et se raprocher de la maquette*/
    position: absolute;
    left: 0;
    width: 100%;
    height: 88%;
    background-color: transparent;
    background-color: white;
    background-color: rgba(0,130,205,0.1);
    z-index: 31;
}

#contact iframe{/* la map*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding:0;
    margin:0;
    z-index: 30;
}

#div1contact{/* bloc blanc survolant la map et contenant le formulaire*/
    width: 350px;
    height: 60%;
    min-height: 480px;
    border: 1px solid lightgrey;
    background-color: black;
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
    position: absolute;
    top: 31%;
    right: 25%;  
    z-index: 32;
}
#div1contact h2{/*disposition des ecrits*/
    margin-left: 18px;
    font-size: 1.8em;
    margin-top: 18px;
    margin-bottom: 10px;
}
#div1contact p {
    float: left;
    clear: left;
    margin-left: 18px;
}
#mettretiret {/*pour mettre un tiret sous: Tel: */
    margin-bottom: 20px;
    border-bottom: 1px dashed grey;
}

form input, form textarea {/* mise en forme du formulaire*/
    margin-left: 5%;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 3px;
    border: 1px solid lightgray;
    color: lightgray;
}
form input{
    height: 6%;
}
form textarea{
    height: 30%;
}
#submit{/* mise en forme du bouton envoyer du formulaire*/
    width: 38%;
    height: 8%;
    background-color: deepskyblue;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px grey;
    color: white;
}

/****************************RESPONSIVE************************************/

/**********Telephones/Tablettes*************/
@media screen and (max-device-width: 420px){


    /*** header/navigation ***/
    #inmenuheader {/*planquage du menu et mise en forme*/
        display: none;
    }
    #logo{/* gestion du logo*/
        float: none;
        width: 80%;
        height: 80%;
        margin: 0;
        padding: 0;
        position: relative;
        top: 10%;
        left: 10%;
    }
    #logo img{
        width: 100%;
        height: 100%;
    }
    /*navigation*/

    #topanchor { /*redisposition de l'ancre d'acceuil */
        top: -1000px;
    }

    .navbutton {/* mise en forme des boutons*/
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: white;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        right: 50px;
        z-index: 52;
        font-size: 180px;
        color: grey;
        color: rgba(255,255,255,0.3);
    }
    .navbutton i{
        position: absolute;
        left: 25px;
    }
    #acceuiltoservices i, #servicestoportfolio i, #portfoliotocontact i{
        bottom: -20px;
    }
    #servicestoacceuil i, #portfoliotoservices i, #contacttoportfolio i{
        bottom: 10px;
    }
    .navbutton:hover {
        border-top: none;
    }

    #acceuiltoservices, #servicestoportfolio, #portfoliotocontact { /*placement des boutons de nav*/
        bottom: 80px;
    }

    #servicestoacceuil, #portfoliotoservices, #contacttoportfolio { /*placement des boutons de nav*/
        bottom: 250px;
    }

    /***Acceuil***/

    #one, #two, #dot1, #dot2 { /*planquage du caroussel*/
        display: none;
    }
    #acceuil{
        width: 100%;
        height: 90%;
        padding-top: 22%;
        margin: 0;
    }
    #surslider { /* redisposition ecrits page d'acceuil*/
        top: 1%;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 4em;
        text-align: center;
        background-image: url('webagency_images/images/slider/bg1.jpg');
        background-color: floralwhite;
        background-repeat: no-repeat;
        background-position: 60% 0;
        background-size: cover;
    }
    #surslider h1{
        padding-top: 45px;
    }
    #surslider h1 strong{/*visibilitée du titre*/
        text-shadow: 0 0 4px white;
    }
    #surslider > p {/* mise en forme ecrits dans l'acceuil*/
        display: block;
        position: absolute;
        left: 5%;
        top: 18%;
        width: 65%;
        font-size: 1em;
    }
    #boutonacceuil{/*positionnement du bouton dans l'acceuil*/
        position: absolute;
        bottom: 30%;
        left: 40%;
    }
    #boutonacceuil a{/*mise en forme du bouton dans l'acceuil*/
        width: 250px;
        height: 150px;
        border-radius: 50%;
    }
    #boutonacceuil a p{/*mise en forme/positionnement ecrits dans le bouton*/
        text-shadow: 0 0 2px grey;
        position: absolute;
        top: 30%;
        left: 11%;
    }

    



    /***Services***/
    #services{
        width: 100%;
        height: 90%;
        padding-top: 22%;
    }
    #nosservices h2{
        font-size: 4em;
    }
    #nosservices p{
        font-size: 2em;
    }
    #nosservices2 { /* replacement des blocs */
        display: flex;
        flex-direction: column;
        height: 80%;
    }
    #nosservices2imgecran {
        width: 100%;
        height: 50%;
    }
    #nosservices2imgecran img{
        width: 100%;
        height: 100%;
    }
    #nosservices2ecrits{
        width: 100%;
    }
    .inservice2{
        width: 85%;
        height: 15%;
        font-size: 2.2em;
        padding-top: 0;
    }
    .dessininservice2{/*suppression du dessin a chauche des ecrits*/
        display: none;
    }
    .desciptionservice p {
        text-align: center;
    }
    .desciptionservice p strong {
        text-shadow: 0 0 5px deepskyblue;
        text-align: center;
        padding-left: 30%;
        width: 300px;
    }


    /***Portfolio***/
    /* mise en forme haut de page*/
    #portfolio{
        width: 100%;
        height: 90%;
        padding-top: 22%;

    }
    #div1portfolio{
        padding-top: 0;
    }
    #div1portfolio h2{
        font-size: 4em;
    }
    #div1portfolio p{
        font-size: 2em;
    }
    #marginauto{/*mise en forme des boutons du menu*/
        width: 90%;
        height: 6%;
        padding: 0;
        margin-top: 3%;
    }
    /* mise en forme des projets*/
    #marginauto label{
        width: 25%;
        height: 90%;
    }
    #marginauto i{
        display: none;
    }
    #marginauto span{
        font-size: 2.3em;
        margin-top: 5%;
    }
    #div2portfolio{
        height: 80%;
    }
    .flexportfolio{
        width: 45%;
        height: 20%;
    }
    .boutonportfolio{
        width: 150px;
        height: 100px;
    }
    .boutonportfolio i{
        font-size: 100px;
        padding-top: 0;
    }
    #projetportfolio8 .boutonportfolio, #projetportfolio7 .boutonportfolio {
        right: unset;
        left: 10%;
    }
    .ecritportfolio{
        width: 50%;
    }
    #projetportfolio8 .ecritportfolio ,#projetportfolio7 .ecritportfolio{
        float: right;

    }
    .flexportfolio h3, .flexportfolio p {
        width: 100%;
        float: inherit;
        clear: both;
        text-align: center;
        font-size: 1.4em;
    }




    /***Contact***/
    iframe, #filtrebleu{/* netoyage du background*/
        display: none;
    }
    #contact{
        width: 100%;
        height: 90%;
        
    }
    #div1contact{
        width: 100%;
        height: 100%;
        position: initial;
        border: none;
    }
        /*taille/placement des ecrits*/
    #div1contact h2, #div1contact p{
        padding-left: 3%;
        font-size: 4em;
    }
    #div1contact h2{
        font-size: 5em;
        padding-bottom: 3%;
    }
    #div1contact input, #div1contact textarea{
        font-size: 300%;
        border-color: slategrey;
    }
}


@media only screen and (max-device-height: 420px) {/* pour les device en mode portrait*/

    #surslider{
        top: 10%;
        left: 10%;
    }
    
    #portfolio{
        width: auto;
        height: auto;
        padding-bottom: 4%;
        padding-top: 10%;

    }
    #div2portfolio{
        flex-direction: column;
        height: 1000px;
        min-height: inherit;
        padding-bottom: inherit;
        padding-top: 0;
    }
    .flexportfolio{
        width: 45%;
        height: 250px;
    }



    #div1contact{
        width: 80%;
        height: 55%;
        min-height: unset;
        top: 40%;
        right: 10%;
    }
    #div1contact h2{
        display: none;
    }
    #div1contact p{
        float: left;
        font-size: 1.5em;
        width: 45%;
        padding-top: 5%
    }
    #div1contact form{
        width: 50%;
        height: 100%;
        position: absolute;
        right: 3%;
        top: 6%;
    }

    #contact textarea{
        float: right;
    }
    #contact input{
        float: right;
        height: 10%;
    }
    #filtrebleu{
        top: 98px;
    }

}
/****Grands Ecrans*****/
@media screen and (min-width: 2200px) and (max-height: 3000px){
    #main_wrapper{/*a   grandissement de l'ecriture sur tout la page*/
        font-size: 2em;
    }

    /***Header***/
    #logo img{ /* agrandissement du logo*/
        width: 450px;

    }
    #inmenuheader li{/*agrandissement des boutons dans le header*/
        width: 150px;
    }
    #inmenuheader li a{
        padding-top: 75px;
    }

    /***Acceuil***/
    .prev, .next {/* boutons du slider*/
        width: 112px;
        height: 112px;
    }
    .prev{
        left: -56px;
    }
    .next{
        right: -56px;
    }
    .next i, .prev i{
        top: 30px;
        font-size: 48px;
    }
    .next i{
        right: 45px;
    }
    .prev i{/* fin bouton slider*/
        left: 45px;
    }
    .dots{/*rehaussage des barres de navigation en bas du slider*/
        top: -7px;
    }

    #surslider{/* ++ zone survolant le slider*/
        width: 1200px;
        height: 600px;
    }
    #boutonacceuil a {/* bouton plus d'infos*/
        width: 225px;
        height: 70px;
        border-radius: 12px;
        top: 60px;
        box-shadow: 0 8px blue;
    }
    
    /***Services***/
    #nosservices2{/* agrandissement des blocs*/
        width: 100%;
        margin: auto;
        height: 42%;
    }
    #nosservices2imgecran, #nosservices2ecrits {
        width: 50%;
        height: 100%;
    }
    #nosservices2imgecran img{
        width: 100%;
        padding-left: 0;
    }
    .inservice2 {
        height: 30%;
        padding-top: 60px;
    }

    /***Portfolio***/

    #marginauto {/* conteneur du menu*/
        width: 1000px;
        height: 120px;
    }
    .menuportfolio{/* boutons du menu*/
        width: 250px;
        height: 100px;
    }
    .menuportfolio:hover{
        height: 93px;
        box-shadow: 0 7px 0 cornflowerblue;
    }
    .menuportfolio span {/* positionnement du texte dans le bouton*/
        padding-top: 20px;
    }
    .menuportfolio i { /* petite fleche sous le menu*/
        top: 18px;
        font-size: 60px;
    }
    #label1, #label2, #label3, #label4 {/* labels du menu*/
        margin-left: -5px;
        margin-right: -5px;
    }
    #div2portfolio {/*conteneur des projets*/
        min-height: 750px;
    }
    .boutonportfolio {/* le bouton dans les projets*/
        width: 100px;
        height: 100px;
    }
    .boutonportfolio i{/*Oeil du bouton*/
        font-size: 48px;
    }

    /***Contact***/
    #contact{
        padding-top: 0;
    }
    #filtrebleu{
        height: 100%;
    }
    #div1contact{/* encart avec le formulaire*/
        width: 27%;
        right: 15%;
    }
    form input, form textarea{
        font-size: 100%;
    }


}

/****Grands Ecrans*****/
@media screen and (min-width: 3001px) and (max-height: 4100px){
    #main_wrapper{/*a   grandissement de l'ecriture sur tout la page*/
        font-size: 2.7em;
    }

    /***Header***/
    #logo img{ /* agrandissement du logo*/
        width: 800px;

    }
    #inmenuheader li{/*agrandissement des boutons dans le header*/
        width: 200px;
    }
    #inmenuheader li a{
        padding-top: 100px;
    }

    /***Acceuil***/
    .prev, .next {/* boutons du slider*/
        width: 150px;
        height: 150px;
    }
    .prev{
        left: -75px;
    }
    .next{
        right: -75px;
    }
    .next i, .prev i{
        top: 40px;
        font-size: 60px;
    }
    .next i{
        right: 50px;
    }
    .prev i{/* fin bouton slider*/
        left: 50px;
    }
    .dots{/*rehaussage des barres de navigation en bas du slider*/
        top: -5px;
    }

    #surslider{/* ++ zone survolant le slider*/
        top: 16%;
        width: 1700px;
        height: 750px;
    }
    #boutonacceuil a {/* bouton plus d'infos*/
        width: 300px;
        height: 80px;
        border-radius: 15px;
    }
    
    /***Contact***/
    #div1contact{/* encart avec le formulaire*/
        top: 20%;
    }


}