* {/*bases de la page*/
    padding: 0 0;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
}
html, body, #main_wrapper {/*permet de commencer sur une base stable*/
    width: 100%;
    height: 100%;
}
h2{/* gros tites NOS SERVICES, NOS PROJETS et Contact Info*/
    font-weight: 700;
    font-size:3em;
}



/******item replacables******/
/*la ligne avec un point au millieu. sous NOS PROJET et NOS SERVICES*/
.tiretpointe {/* bloc contenant la ligne et le point*/
    width: 100%;
    height: 20px;
    position: relative;
    padding-bottom: 20px;
}
.tiretpointe p{/* a l'origine je voulais y mettre du texte transparant mais j'ai finit par opter pour une border-bottom*/
    display: block;
    width: 250px;
    height: 10px;
    border-bottom: 2px solid lightgrey;
    margin: auto;
}
.tiretpointe div {/* mise en forme et placement du point*/
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: cornflowerblue;
    border: 5px solid white;
    border-color: white;
    left:49.4%;
    top: 3%;
}

.navbutton {/*cache les boutons de nav pour mobile. Petits boutons ronds serant a la navigation*/
    display: none;
}


/******Header******/

header{/* mise en place du menu*/
    width: 100%;
    height: 10%;
    min-height: 100px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    font-family: FontAwesome;
    font-size: 0.8em;
}
#logo {/* positionnement du logo*/
    float: left;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{/* 4 boutons a droite*/
    float: right;
    padding-right: 8%;

}

ul{/*disposition des boutons*/
    list-style: none;
    display: flex;
}

li {/* contenant des lien pour la redirection et surtout de Acceuil/Services/Portfolio et Contact*/
    width: 80px;
}

li a{/*mise en forme et place des ecrits des boutons*/
    text-decoration: none;
    color: grey;
    display: block;
    text-align: center;
    padding-top: 50px;
    font-size: 1.2em;
    font-weight: bolder;
}

a:hover{/* lors du survol du bouton ajoute une bordure bleu au dessus du bloc. change la couleur d'ecriture en noir*/
    color:black;
    border-top: 3px solid deepskyblue;
}

#topanchor{/*ancre qui sert a diriger vers le haut de page. est utilisée dans tout lien devant pointer vers l'acceuil*/
    position: absolute;
    top: -100px;
}



/******Acceuil******/

#acceuil {/* mise en forme de l'acceuil*/
    margin-top: 6.5%;/*pour que mon slider ne soit pas planqué sous le menu*/
    width: 100%;
    height: 100%;
    
}

#i1, #i2 {/*cache le "radio" utilisé pour le slider*/
    display: none;
}


.slide_img {/* les slides, position absolute pour les superposer dans leurs bloc*/
    position: absolute;
    width: 100%;
    height: 84%;
    z-index: 0;
    overflow: hidden;
}

.slide_img img {/*corrige la taille des images du slider*/
    width: inherit;
    height: inherit;
    box-shadow: 0 0 12px black;
}

.prev, .next {/*mise en forme et placement des boutons incluts dans le slide_img*/
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    background-color: white;
    background-color: rgba(0,0,0,.2);
    z-index: 99;
    cursor: pointer;
    font-size: 24px;
}
.next {/*bouton de droite*/
    right: -28px;
}
.next i{/*placement de la petite fleche du bouton de droite*/
    position: absolute;
    top: 16px;
    left: 12px;
    color: white;
}
.prev {/* bouton de gauche*/
    left: -28px;
}
.prev i{/*placement de la petite fleche du bouton de gauche*/
    position: absolute;
    top: 16px;
    right: 12px;
    color: white;
}


#nav_slide {/* les lignes colorées qui indiquent quelle image est affichée*/
    width: 100%;
    bottom: 19%;
    height: 10px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}
.dots {/*mise en forme et placement des deux boutons de navigation en bas du slider*/
    bottom: 0;
    width: 49%;
    height: 5px;
    margin: 0 1px;
    position: relative;
    display: inline-block;
    background-color: grey;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


#i1:checked ~ #one, #i2:checked ~ #two {/* si checké augmente le z-index pour diplay l'image checkée*/
    z-index: 9;
}
.prev:hover, .next:hover{/*deco des boutons slide_img*/
    transition:0.5s;
    background: deepskyblue;
    background: rgba(90,245,255,0.4);
}

#i1:checked ~ #nav_slide #dot1{/* si checké "illumine le "recantgle" correspondant*/
    background: deepskyblue;
    background: rgba(90,245,255,0.4);
    transition: 0.5s ease-in-out;
}

#i2:checked ~ #nav_slide #dot2 { /* si checké "illumine le "recantgle" correspondant*/
    background: deepskyblue;
    background: rgba(90,245,255,0.4);
    transition: 0.5s ease-in-out;
}

#dot1:hover{/*illumine le rectangle survolé*/
    background: lightgrey;
    background: rgba(255,255,255,0.3);
    transition: 0.5s ease-in-out;
}
#dot2:hover { /*illumine le rectangle survolé*/
    background: lightgrey;
    background: rgba(255,255,255,0.3);
    transition: 0.5s ease-in-out;
}
#surslider{/*positionement et mise en forme du bloc posé sur le slider, WEBAGENCY: L'Agence....*/
    position: relative;
    top: 160px;
    left: 200px;
    width: 600px;
    height: 300px;
    z-index: 50;
    color: white;
    font-size: 2em;
}
#surslider h1 strong{/* Met WEBAGENCY en bleu*/
    color: cornflowerblue;
}
#surslider p{/* definit la taille et le positionnement du petit texte*/
    font-size: 0.5em;
    justify-content:flex-start;
}
#boutonacceuil a {/* bouton dans le surslider*/
    display: inline-block;
    position: relative;
    top: 30px;
    width: 125px;
    height: 40px;
    color: white;
    text-decoration-line: none;
    background-color: cornflowerblue;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 4px blue;
}

#boutonacceuil a p {/*placement de l'ecriture dans le bouton*/
    position: relative;
    top: 9px;
    left: 10px;
}


/******Services******/

#services{/* mise en place du corp services*/
    padding-top: 80px;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: white;
    position: relative;
}

#nosservices { /* bloc du haut*/
    margin: auto;
    margin-top: 0;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}


#nosservices h2,#nosservices > p {/*rangement des ecrits*/
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

#nosservices2{/*bloc bas pere de 2div, celui avec l'image posé a gauche, celui avec les ecrits a droite*/
    display: flex;
    justify-content: space-around;
}
/* le div avec les ecrit est pere de 3div*/
.inservice2{/*ses 3 derniers sont disposés avec un flex*/
    display: flex;
    width: 80%;
    height: 90px;
    padding-top: 20px;
}
.inservice2 .desciptionservice{/*puis sont rangés de facon a ressembler a la maquette*/
    width:80%;
    text-align:left;
    background: none;
    border: none;
}
.desciptionservice p{/* rangement des ecrits uxdesign, ui design et seo */ 
    text-align: left;
    justify-content: inherit;
}

.inservice2 div {/* petitess images a gauche des ecrits*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    border: 1px solid rgba(200,200,200,0.5);
    position: relative;
    margin-right: 30px;
    overflow: visible;
}
.inservice2 div i{/* "images" a gauche de ux ui design et seo*/
    position: absolute;
    top:25%;
    left:26%;
    color: deepskyblue;
}
.inservice2 div div{/* bloc qui sert a faire les bordures des "images*/
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: deepskyblue;
    border: 5px solid white;
    border-color: white;
    top:30%;
    left:77%;
}


/******Portfolio******/

#portfolio{/*mise en place du corp de la page portfolio*/
    padding-top: 10%;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: relative;
}


#div1portfolio{/* disposition haut de page*/
    position:relative;
}
#div1portfolio h2, p ,img{/* ecrit en haut de page*/
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

#portfolio input { /*planquage du "radio" qui sert au menu*/
    display: none;
}

#marginauto {/*conteneur du menu*/
    margin: auto;
    height: 50px;
    width: 400px;
    padding-top: 20px;
}
.menuportfolio {/*boutons du menu*/
    transition: 0.5s;
    margin: auto;
    width: 100px;
    height: 33px;
    display: inline-block;
    background-color: lightgray;
    cursor: pointer;
    color: white;
    text-align:center;
    padding-top: 7px;
}
.menuportfolio span{/* ecrit et petite fleche du bouton*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuportfolio i{/*petite fleche du bouton*/
    transition: 0.5s;
    position: relative;
    bottom: -4px;
    color: transparent;
    font-size: 24px;
}
.menuportfolio:hover i{/* apparition d'une fleche lors du survol du menu*/
    transition: 0.5s;
    color: cornflowerblue;
}
.menuportfolio:hover{/*changement de couleur lors du survol*/
    transition: 0.5s;
    height: 30px;
    background-color: deepskyblue;
    box-shadow: 0 3px 0 cornflowerblue;
}
#label1, #label2, #label3, #label4{/*sert a resserer un petit peut le menu*/
    margin-left: -2px;
    margin-right: -2px;
}
#label1{/*ajoute un leger arondi au bouton de gauche*/
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#label4{/*ajoute un leger arondi au bouton de droite*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#p2:checked ~ #div2portfolio, #p4:checked ~ #div2portfolio {/* change l'ordre d'affichage en fonction du bouton du menu qui est checké*/
    flex-direction: row-reverse;
}


#div2portfolio{/*Bloc contenant les images de projets*/
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    min-height: 500px;
    height: auto;
    margin: auto;
    padding-bottom: 100px;
}

.flexportfolio{/*mini blocs contenant 1 projet*/
    width:21%;
    min-width:250px;
    height: 21%;
    min-height:150px;
    position: relative;
}
.flexportfolio img {/*fixe la taille des image a la taille du bloc*/
    width: 100%;
    height: 100%;
}

.banniereportfolio{/*Ce qui s'affiche lors du survol des projets*/
    width: 100%;
    height: 30%;
    background-color: white;
    background-color: rgba(0,0,0,0.0);
    position:absolute;
    bottom:0;
    color: white;
    color: rgba(0,0,0,0.0);
}
.banniereportfolio p{/* ecrit affichés lors du survol des projets*/
    text-align: left;
}
.boutonportfolio{/* petit bouton avec l'oeuil*/
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 40%;
    right: 10%;
    border-radius: 50%;
    background-color: black;
    background-color: rgba(0,0,0,0.0);
}
.boutonportfolio i {/* placement du petit oeil */
    visibility: hidden;
    display: flex;
    justify-content: center;
    padding-top: 25%;
    font-size: 24px;
    }
.flexportfolio:hover > div{/* affiche la banniere lors du survol*/
    transition: 0.4s;
    background-color: black;
    background-color: rgba(0,0,0,0.3);
    color: white;
}
.flexportfolio:hover a{/* lors du survol des projets affiche un petit encart sombre*/
    text-decoration-line: none;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
}
.flexportfolio:hover .boutonportfolio {/* lors du survol des projets affiche le rond bleu*/
    background-color: black;
    background-color: rgba(90,200,240,1);
    border: 2px solid white;
}
.flexportfolio:hover .boutonportfolio i{/* lors du survol des projets affiche le petit oeil*/
    color: white;
    visibility:visible;
}
.ecritportfolio {/* gere le texte affiché dans la benniere*/
    float: left;
    padding-left: 20px;
    padding-top: 1%;
}




     /******Contact******/
#contact {/* mise en forme du corp*/
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background-color: whitesmoke;
    display: flex;
    position: absolute;
    overflow: hidden;
}
#contact iframe{/* la map*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding:0;
    margin:0;
    z-index: 30;
    border: 0;
}
#filtrebleu{/* bloc avec un fond bleu semi transparant pour ajouter un filtre bleu et se raprocher de la maquette*/
    position: absolute;
    left: 0;
    width: 100%;
    height: 84%;
    background-color: transparent;
    background-color: white;
    background-color: rgba(0,130,205,0.1);
    z-index: 31;
}
#div1contact{/* bloc blanc survolant la map et contenant le formulaire*/
    width: 30%;
    height: 60%;
    min-height: 480px;
    border: 1px solid lightgrey;
    background-color: black;
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
    position: absolute;
    top: 31%;
    right: 10%;  
    z-index: 32;
}
#div1contact h2{/*disposition du titre dans l'encart blanc*/
    margin-left: 5%;
    font-size: 1.8em;
    margin-top: 18px;
    margin-bottom: 10px;
}
#div1contact p {/* disposition des paragraphes dans l'encart blanc */
    float: left;
    clear: left;
    margin-left: 5%;
}
#mettretiret {/*pour mettre un tiret sous: Tel: */
    margin-bottom: 20px;
    border-bottom: 1px dashed grey;
}
form{/*definition de la taille du conteneur des input*/
    padding-top: 20px;
    height: 60%;
}
form input, form textarea {/* mise en forme du formulaire*/
    margin-left: 5%;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 3px;
    border: 1px solid lightgray;
    color: lightgray;
    margin-top: 2%;
}
form input{/*mise en forme des inputs*/
    height: 10%;
}
form textarea{/* mise en forme du textarea*/
    height: 30%;
}
#submit{/* mise en forme du bouton envoyer du formulaire*/
    width: 38%;
    height: 8%;
    background-color: deepskyblue;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px grey;
    color: white;
}

/****************************RESPONSIVE************************************/

/**********Telephones/Tablettes*************/
@media screen and (max-device-width: 421px){


    /*** header/navigation ***/
    #inmenuheader {/*planquage du menu et mise en forme*/
        display: none;
    }
    #logo{/* gestion du logo*/
        float: none;
        width: 80%;
        height: 80%;
        margin: 0;
        padding: 0;
        position: relative;
        top: 10%;
        left: 10%;
    }
    #logo img{/*taille du logo*/
        width: 100%;
        height: 100%;
    }
    /*navigation*/


    .navbutton {/* mise en forme des boutons*/
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: white;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        right: 50px;
        z-index: 52;
        font-size: 180px;
        color: grey;
        color: rgba(255,255,255,0.3);
    }
    .navbutton i{/*disposition de la fleche dans les boutons de navigation*/
        position: absolute;
        left: 25px;
    }
    #acceuiltoservices i, #servicestoportfolio i, #portfoliotocontact i { /*disposition de la fleche dans les boutons de navigation*/
        bottom: -20px;
    }
    #servicestoacceuil i, #portfoliotoservices i, #contacttoportfolio i { /*disposition de la fleche dans les boutons de navigation*/
        bottom: 10px;
    }
    .navbutton:hover {
        border-top: none;
    }

    #acceuiltoservices, #servicestoportfolio, #portfoliotocontact { /*placement des boutons de nav*/
        bottom: 80px;
    }

    #servicestoacceuil, #portfoliotoservices, #contacttoportfolio { /*placement des boutons de nav*/
        bottom: 250px;
    }

    /***Acceuil***/

    #one, #two, #dot1, #dot2 { /*planquage du caroussel*/
        display: none;
    }
    #acceuil{/*mise en place de l'acceuil*/
        width: 100%;
        height: 90%;
        padding-top: 22%;
        margin: 0;
    }
    #surslider { /* redisposition ecrits page d'acceuil*/
        top: 1%;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 4em;
        text-align: center;
        background-image: url('webagency_images/images/slider/bg1.jpg');
        background-color: floralwhite;
        background-repeat: no-repeat;
        background-position: 60% 0;
        background-size: cover;
    }
    #surslider h1{/*Titre dans l'acceuil*/
        padding-top: 45px;
    }
    #surslider h1 strong{/*visibilitée du titre*/
        text-shadow: 0 0 4px white;
    }
    #surslider > p {/* mise en forme ecrits dans l'acceuil*/
        display: block;
        position: absolute;
        left: 5%;
        top: 18%;
        width: 65%;
        font-size: 1em;
    }
    #boutonacceuil{/*positionnement du bouton dans l'acceuil*/
        position: absolute;
        bottom: 30%;
        left: 40%;
    }
    #boutonacceuil a{/*mise en forme du bouton dans l'acceuil*/
        width: 250px;
        height: 150px;
        border-radius: 50%;
    }
    #boutonacceuil a p{/*mise en forme/positionnement ecrits dans le bouton*/
        text-shadow: 0 0 2px grey;
        position: absolute;
        top: 30%;
        left: 11%;
    }

    



    /***Services***/
    #services{/* mise en place de la page Services*/
        width: 100%;
        height: 90%;
        padding-top: 22%;
    }
    #nosservices h2{/*NOS SERVICES*/
        font-size: 4em;
    }
    #nosservices p{/*Chez Webagency nous proposons.....*/
        font-size: 2em;
    }
    #nosservices2 { /* replacement des blocs */
        display: flex;
        flex-direction: column;
        height: 80%;
    }
    #nosservices2imgecran {/*image d'ecran*/
        width: 100%;
        height: 50%;
    }
    #nosservices2imgecran img{/*mise en forme de l'image dans son bloc*/
        width: 100%;
        height: 100%;
    }
    #nosservices2ecrits{/*bloc contenant les 3 blocs avec les ecrits*/
        width: 100%;
        height: 50%;
    }
    .inservice2{/*bloc contenant les ecrits*/
        width: 85%;
        height: 30%;
        font-size: 2.2em;
        padding-top: 0;
    }
    .dessininservice2{/*suppression du dessin a chauche des ecrits*/
        display: none;
    }
    .desciptionservice p {/* paragraphes sous UX design, UI design et SEO*/
        text-align: center;
    }
    .desciptionservice p strong {/* titres UX DESIGN, UI DESIGN et SEO*/
        text-shadow: 0 0 5px deepskyblue;
        text-align: center;
        padding-left: 30%;
        width: 300px;
    }


    /***Portfolio***/
    /* mise en forme haut de page*/
    #portfolio{
        width: 100%;
        height: 90%;
        padding-top: 22%;

    }
    #div1portfolio h2{/*NOS PROJETS */
        font-size: 4em;
    }
    #div1portfolio p{/*Voici une petit selection....*/
        font-size: 2em;
    }
    #marginauto{/*mise en forme des boutons du menu*/
        width: 90%;
        height: 6%;
        padding: 0;
        margin-top: 3%;
    }
    /* mise en forme des projets*/
    #marginauto label{
        width: 25%;
        height: 90%;
    }
    #marginauto i{/*ne pas aficher la fleche du menu sur les mobiles*/
        display: none;
    }
    #marginauto span{/*conteneur des ecriture du menu*/
        font-size: 2.3em;
        margin-top: 5%;
    }
    #div2portfolio{/* conteneur des projets*/
        height: 80%;
    }
    .flexportfolio{/*projets*/
        width: 45%;
        height: 20%;
    }
    .boutonportfolio{/*Bouton sur les projets*/
        width: 150px;
        height: 100px;
    }
    .boutonportfolio i{/* oeil du bouton sur les projets*/
        font-size: 100px;
        padding-top: 0;
    }
    #projetportfolio8 .boutonportfolio, #projetportfolio7 .boutonportfolio {/*mise des boutons a gauche 
                                                                        pour que cela ne se superpose pas avec les boutons de navigation*/
        right: unset;
        left: 10%;
    }
    #projetportfolio8 .ecritportfolio, #projetportfolio7 .ecritportfolio {/* mise de lecriture a droite pour les deux dernier projets*/
        float: right;
    }
    .ecritportfolio{/* conteneur des ecrits dans les projets*/
        width: 50%;
    }
    .flexportfolio h3, .flexportfolio p {/* mise en forme des ecrits dans les projets*/
        width: 100%;
        float: inherit;
        clear: both;
        text-align: center;
        font-size: 1.4em;
    }




    /***Contact***/
    iframe, #filtrebleu{/* netoyage du background*/
        display: none;
    }
    #contact{/*mise en forme de la page contact*/
        width: 100%;
        height: 90%;
        
    }
    #div1contact{/*mise en avant du formulaire*/
        width: 100%;
        height: 100%;
        position: initial;
        border: none;
    }
        /*taille/placement des ecrits*/
    #div1contact h2, #div1contact p{/*mise en forme et positionement des textes*/
        padding-left: 3%;
        font-size: 4em;
    }
    #div1contact h2{/*mise en forme et positionement des textes*/
        font-size: 5em;
        padding-bottom: 3%;
    }
    #div1contact input, #div1contact textarea{ /*ajustement des inputs*/
        font-size: 300%;
        border-color: slategrey;
    }
}

/*** pour les device en mode paysage***/
@media only screen and (max-device-height: 421px) {

    #surslider{/*positionement du bloc contenant les ecrit dans l'acceuil*/
        top: 10%;
        left: 10%;
    }
    
    #portfolio{/*mise en forme de la page portfolio*/
        width: auto;
        height: auto;
        padding-bottom: 4%;
        padding-top: 10%;

    }
    #div2portfolio{/* mise en place du conteneur des projets*/
        flex-direction: column;
        height: 1000px;
        min-height: inherit;
        padding-bottom: inherit;
        padding-top: 0;
    }
    .flexportfolio{/*Mise en forme des projets*/
        width: 45%;
        height: 250px;
    }



    #div1contact{/*encart blanc contact*/
        width: 80%;
        height: 55%;
        min-height: unset;
        top: 40%;
        right: 10%;
    }
    #div1contact h2{/* n'affiche pas contact infos*/
        display: none;
    }
    #div1contact p{/* mise en place du texte*/
        float: left;
        font-size: 1.5em;
        width: 45%;
        padding-top: 5%
    }
    #div1contact form{/*mise en place du conteneur des inputs*/
        width: 50%;
        height: 100%;
        position: absolute;
        right: 3%;
        top: 0;
    }

    #contact textarea{/*zone de texte du formulaire*/
        float: right;
        height: 20%;
    }
    #contact input{/* email, nom et sujet*/
        margin-top: 0;
        float: right;
        height: 10%;
    }
    #filtrebleu{/*ce qui donne un couleure bleutée a la map*/
        top: 98px;
    }

}
/****Grands Ecrans*****/
@media screen and (min-width: 2200px) and (max-width: 3000px){
    #main_wrapper{/*a   grandissement de l'ecriture sur tout la page*/
        font-size: 2em;
    }

    /***Header***/
    #logo img{ /* agrandissement du logo*/
        width: 450px;

    }
    #inmenuheader li{/*agrandissement des boutons dans le header*/
        width: 150px;
    }
    #inmenuheader li a{
        padding-top: 75px;
    }

    /***Acceuil***/
    .prev, .next {/* boutons du slider*/
        width: 112px;
        height: 112px;
    }
    .next i, .prev i{/* boutons du slider*/
        top: 30px;
        font-size: 48px;
    }
    .prev{/*bouton gauche*/
        left: -56px;
    }
    .prev i{/*bouton gauche*/
        left: 45px;
    }
    .next{/*bouton droite*/
        right: -56px;
    }
    .next i{/*bouton droite*/
        right: 45px;
    }
    .dots{/*rehaussage des barres de navigation en bas du slider*/
        top: -7px;
    }

    #surslider{/* ++ zone survolant le slider*/
        width: 1200px;
        height: 600px;
    }
    #boutonacceuil a {/* bouton plus d'infos*/
        width: 225px;
        height: 70px;
        border-radius: 12px;
        top: 60px;
        box-shadow: 0 8px blue;
    }
    
    /***Services***/
    #nosservices2{/* agrandissement des blocs*/
        width: 100%;
        margin: auto;
        height: 42%;
    }
    #nosservices2imgecran, #nosservices2ecrits {/*mise en forme des blocs du portfolio*/
        width: 50%;
        height: 100%;
    }
    #nosservices2imgecran img{/*mise en place de l'image d'ecran*/
        width: 100%;
        padding-left: 0;
    }
    .inservice2 {/* les 3 paragrapes UX,UI et SEO*/
        height: 30%;
        padding-top: 60px;
    }

    /***Portfolio***/

    #marginauto {/* conteneur du menu*/
        width: 1000px;
        height: 120px;
    }
    .menuportfolio{/* boutons du menu*/
        width: 250px;
        height: 100px;
    }
    .menuportfolio:hover{/*change la couleur du bouton lors du clic*/
        height: 93px;
        box-shadow: 0 7px 0 cornflowerblue;
    }
    .menuportfolio span {/* positionnement du texte dans le bouton*/
        padding-top: 20px;
    }
    .menuportfolio i { /* petite fleche sous le menu*/
        top: 18px;
        font-size: 60px;
    }
    #label1, #label2, #label3, #label4 {/* labels du menu*/
        margin-left: -5px;
        margin-right: -5px;
    }
    #div2portfolio {/*conteneur des projets*/
        min-height: 750px;
    }
    .boutonportfolio {/* le bouton dans les projets*/
        width: 100px;
        height: 100px;
    }
    .boutonportfolio i{/*Oeil du bouton*/
        font-size: 48px;
    }

    /***Contact***/
    #contact{/*mise en forme de la page contact*/
        padding-top: 0;
    }
    #filtrebleu{/*filtre bleuté qur la map*/
        height: 100%;
    }
    #div1contact{/* encart avec le formulaire*/
        width: 27%;
        right: 15%;
    }
    form input, form textarea{/*taille du texte dans les formulaires*/
        font-size: 100%;
    }


}

/****Grands Ecrans*****/
@media screen and (min-width: 3001px) and (max-width: 4100px){
    #main_wrapper{/*a   grandissement de l'ecriture sur tout la page*/
        font-size: 2.7em;
    }

    /***Header***/
    #logo img{ /* agrandissement du logo*/
        width: 800px;

    }
    #inmenuheader li{/*agrandissement des boutons dans le header*/
        width: 200px;
    }
    #inmenuheader li a{/*mise en place des boutons du menu*/
        padding-top: 100px;
    }

    /***Acceuil***/
    .prev, .next {/* boutons du slider*/
        width: 150px;
        height: 150px;
    }
    .next i, .prev i{/* boutons du slider*/
        top: 40px;
        font-size: 60px;
    }
    .prev{/*bouton de gauche*/
        left: -75px;
    }
    .prev i{/*bouton de gauche*/
        left: 50px;
    }
    .next { /*bouton de droite*/
        right: -75px;
    }
    .next i{/*bouton de droite*/
        right: 50px;
    }
    .dots{/*rehaussage des barres de navigation en bas du slider*/
        top: -5px;
    }

    #surslider{/* ++ zone survolant le slider*/
        top: 16%;
        width: 1700px;
        height: 750px;
    }
    #boutonacceuil a {/* bouton plus d'infos*/
        width: 300px;
        height: 80px;
        border-radius: 15px;
    }
    
    /***Contact***/
    #div1contact{/* encart avec le formulaire*/
        top: 20%;
    }


}

/***Breakpoint 1*/
@media screen and (max-width: 800px){
    #logo{/*reduction de la marge a gauche du logo*/
        margin-left: 5%;
    }
    #inmenuheader{/*reduction de la marge a droite du menu*/
        padding-right: 3%;
    }
    #surslider{/*repositionement de l'ecrit dans l'acceuil*/
        top: 12%;
        left: 5%;
    }
    .dots{/*cachage des "barres de navigation" du slider*/
        display: none;
    }
    #services, #portfolio{/*mise en height auto car 100% n'etait pas adapté*/
        height: auto;
    }
    #nosservices2{/*l'image d'ecran et les 3 paragraphes. etaient en flex-direction: row;*/
        flex-direction: column;
        margin-left: 10%;
    }
    #div1contact{/*suppression du min height pour le formulaire*/
        min-height: unset;
    }
    #contact input{/*remise en forme du formulaire*/
        margin-bottom: 0;
    }
}